.ClaimedRightsListContainer {
  font-size: 2rem;
}

.sectionTitle {
  color: #AB4A36;
  font-size: 2rem;
  padding-top: 1rem;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 1rem;
}

.transactionListWrapper {
  /* リストの最大高さを設定 */
  max-height: 40rem;
  /* 縦方向のスクロールを有効にする */ 
  overflow-y: auto; 
}

.transactionList {
  list-style-type: none;
}

.transactionItem {
  /* margin-bottom: 16px; */
}

.transactionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 0.25rem 1rem 0rem;
  border: 0.25rem solid #ffdbc9;
  border-radius: 1rem 1rem 0rem 0rem;
}

/* .checkbox {
  background-color: #ffdbc9;
  color: #000000;
  height: 45px;
  width: 45px;
  border-radius: 10px;
} */

.sellerInfo {
  flex-grow: 1;
}

.sellerInfo2 {
  flex-grow: 0;
  width: 30%;
}

.sellerAddress {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.transactionAmount, .transactionDate {
  color: #AB4A36;
}

.transactionId {
  font-size: 1.5rem;
}

.transactionReason {
  background-color: #ffdbc9;
  padding: 0.25rem 1rem 0.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
  /* 
  本来、transactionItemで適用するが、相当するクラスが
  UnrecoverableList.module.css内にないため、最下部のココに設置 
  */
  margin-bottom: 2rem;
}

.buttonBack {
  text-align: center;
  background-color: #e8e6e6;
  width: 11rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
}