.ButtonContainer {
  text-align: center;
  width: 11rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  /* .buttonBackとココまで同じ */
  background-color: #ffdbc9;
  font-size: 2rem;
  cursor: pointer;
}
