.body {
  padding: 2.5rem 10% 1rem;
  height: 100%;
}

.frame30 {
  display: flex;
  flex-direction: column;
}

.frame27 {
  height: auto;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
}

.inputGroup label span {
  display: grid;
  font-size: 2rem;
}

.input {
  background-color: #f5e3db;
  height: 6.25rem;
  width: 55rem;
  border: none;
  border-radius: 8px;
  padding: 0rem 2rem;
  font-size: 2.5rem;
}

.okButton {
  background-color: #f24f2b;
  width: 11rem;
  height: 6rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}