.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 88px;
  gap: 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc(50% - 1440px / 2);
  background: #faf2f0;
}

.frame30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  width: 448px;
  height: 600px;
}

.frame27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 448px;
  height: 536px;
}

.title {
  width: 448px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  color: #000000;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 448px;
  height: 84px;
}

.inputGroup label {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.sublabel {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  width: 448px;
  height: 56px;
  background: #f5e3db;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}

.okButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 148px;
  height: 60px;
  background: #f24f2b;
  border-radius: 8px;
  border: none;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}