.actionButton {
  width: 220px; /* 固定幅を設定 */
  height: 40px;
  background-color: #F24F2B;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center; /* テキストを中央揃えに */
  font-size: 18px;
  font-weight: bold;
}
