.actionButton {
  /* 
  以下のプロパティが.rightSection内のボタンのコアプロパティ
  */
  height: 4.5rem;
  /* padding: 0rem 1rem; */
  color: #ffffff;
  background-color: #f24f2b;
  border: none;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  /* end */
  width: 23rem;
}