.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FAEBD7;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }