.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FAF2F0;
    border-bottom: 1px solid #F24F2B;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }