.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf2f0;
  border-bottom: 0.25rem solid #f24f2b;
  height: 7rem;
  padding: 0rem 7rem;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 2rem;
}
