.bodyContainer {
  background-color: #faf2f0;
  /*height: auto;*/
  padding: 7rem 7rem 1rem;
  color: #000000;
}

.bodyContainer p {
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  /*height: 65rem;*/
  color: #000000;
}
