/* ボタンの基本スタイル上書き */
.wallet-adapter-button {
  /* core start */
  height: 4.5rem;
  padding: 0rem 1rem;
  color: #ffffff;
  background-color: #f24f2b;
  border: none;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  /* core end */
}

/* ボタンのホバー状態 */
.wallet-adapter-button:hover,
.wallet-adapter-modal-wrapper .wallet-adapter-button:hover {
  background-color: #f24f2b !important; /* ホバー時の背景色を変更 */
}

/* ウォレット選択のボタンのデフォルト状態 */
.wallet-adapter-modal-wrapper .wallet-adapter-button {
  background-color: black;
  color: white;
}

/* ウォレット選択のドロップダウンメニュー */
.wallet-adapter-dropdown {
  background-color: #f0f0f0 !important; /* ドロップダウンの背景色を変更 */
}

/* ウォレットリストのアイテム */
.wallet-adapter-dropdown-list-item {
  background-color: #ffffff !important; /* リストアイテムの背景色を変更 */
  color: #333333 !important; /* リストアイテムのテキスト色を変更 */
}

/* モーダルの背景 */
.wallet-adapter-modal-wrapper {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ) !important; /* モーダルの背景を半透明に */
}
